body {
    font-family: Arial, sans-serif;
    background-color: #FFE4E1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-form {
    background-color: #FFB6C1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.katalog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #FFF8DC;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.katalog-item {
    background-color: #ADD8E6;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.katalog-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.katalog-item h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #00008B;
}

.katalog-item p {
    font-size: 16px;
    color: #555;
}

input {
    width: 90%;
    max-width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 48%;
    padding: 10px;
    margin: 10px 1%;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    background-color: #ADD8E6;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FFEBCD;
    transform: translateY(-3px);
}

button#cancel {
    background-color: #DCDCDC;
}

button#cancel:hover {
    background-color: #FFF0F5;
}
